In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
age_demographics_df = pd.read_csv("datasets/case_demographics_age.csv")

In [5]:
age_demographics_df.head()

,age_group,totalpositive,date,case_percent,deaths,deaths_percent,ca_percent
0,0-17,120,2020-04-02,NaN,NaN,NaN,NaN
1,18-49,5302,2020-04-02,NaN,NaN,NaN,NaN
2,50-64,2879,2020-04-02,NaN,NaN,NaN,NaN
3,65 and Older,2342,2020-04-02,NaN,NaN,NaN,NaN
4,Unknown,58,2020-04-02,NaN,NaN,NaN,NaN

age_group              18-49
totalpositive          18004
date              2020-04-22
case_percent           48.18
deaths                    99
deaths_percent          7.09
ca_percent             43.52
Name: 101, dtype: object